<template>
  <view class="AvatarCard-wrap" @click.stop="goHome">
    <van-image round width="100%" height="100%" :src="user.imgUrl" />
  </view>
</template>

<script setup lang="ts">
import { User } from "@/api/user/user.model";
import { useUserStore } from "@/stores/modules/user";
interface Props {
  user?: User;
}
const props = defineProps<Props>();
const userStore = useUserStore();
const user = computed(() => {
  return props.user || userStore.user || {};
});
function goHome() {
  uni.navigateTo({
    url: `/pages/message/homePage?id=${unref(user).id}&isMine=1`,
  });
}
</script>

<style scoped lang="scss">
.AvatarCard-wrap {
  width: 36px;
  height: 36px;
}
</style>
