<template>
  <div class="FriendCard-wrap">
    <div class="left">
      <van-image
        round
        :src="user.imgUrl"
        width="100%"
        height="100%"
      ></van-image>
    </div>
    <div class="center">
      <div class="name">
        <div class="nickname">{{ user.nickname }}</div>
        <div class="username">({{ user.username }})</div>
      </div>
      <div class="explain">{{ user.explain }}</div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { User } from "@/api/user/user.model";

interface Props {
  user: User;
}
const props = defineProps<Props>();
</script>

<style scoped lang="scss">
.FriendCard-wrap {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  .left {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .center {
    flex: 1;
    max-width: 225px;
    .name {
      display: flex;
      align-items: flex-end;
      font-size: 17px;
      color: #272832;
      .nickname {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis; //溢出用省略号显示
        white-space: nowrap; //溢出不换行
        margin-right: 10px;
      }
      .username {
        color: #272832;
        font-size: 10px;
      }
    }
    .explain {
      color: #272832;
      font-size: 10px;
    }
    .latestNews {
      font-size: 14px;
      color: rgba(39, 40, 50, 0.6);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
</style>
