<template>
  <AppHead title="登录">
    <template #right>
      <div class="right_button" @tap="goRegister">注册</div>
    </template>
  </AppHead>
  <view class="login_box">
    <view class="top">
      <view class="logo_box"> </view>
      <view class="remark"> 您好，欢迎来到DD! </view>
    </view>
    <view class="bottom">
      <input
        @focus="placeholderDD = ''"
        @blur="placeholderDD = 'DD号儿'"
        v-model="userForm.username"
        style="caret-color: #a0d3de"
        class="input"
        type="text"
        placeholder-style="color:#b0b0bd"
        :placeholder="placeholderDD"
      />
      <input
        v-model="userForm.password"
        @focus="placeholderPWD = ''"
        @blur="placeholderPWD = 'DD号密码'"
        style="caret-color: #a0d3de; margin: 10px 0"
        class="input"
        placeholder-style="color:#b0b0bd"
        type="text"
        :placeholder="placeholderPWD"
      />
      <van-button block type="primary" text="登录DD" @click="login" />
    </view>
  </view>
</template>

<script lang="ts" setup>
import { ref, reactive } from "vue";
import { showConfirmDialog } from "vant";

import AppHead from "@/components/AppHead/AppHead.vue";
import { Socket } from "socket.io-client";
const socket = inject("socket") as Socket;

import { useUserStore } from "@/stores/modules/user";
const userStore = useUserStore();

let placeholderDD = ref<string>("DD号儿");
let placeholderPWD = ref<string>("DD号密码");

const userForm = reactive({
  username: "000000",
  password: "000000",
});

function goRegister() {
  uni.navigateTo({
    url: "/pages/login/register",
  });
}
async function login() {
  const isLogin = await userStore.login(userForm);
  if (isLogin) {
    showConfirmDialog({
      title: "账号已登录",
      message: "是否确认登陆（将会将其他账号踢下线）",
    }).then(async () => {
      userStore.kickOff(userForm);
    });
  } else {
    console.log(userStore.user);
    socket.emit("connection", userStore.user.id);
  }
}
</script>

<style lang="scss" scoped>
.right_button {
  color: #fff;
}
.login_box {
  .top {
    .logo_box {
      margin: 40px auto;
      height: 100px;
      width: 100px;
      background-image: url(../../../static/logo1.png);
      background-size: 100% 100%;
    }
    .remark {
      font-size: 18px;
      color: rgba(39, 40, 50, 0.5);
      text-align: center;
      margin-bottom: 15px;
    }
  }
  .bottom {
    width: 250px;
    margin: 0 auto;
    .input {
      height: 45px;
      border-radius: 22.5px;
      box-sizing: border-box;
      padding: 0 50px;
      text-align: center;
      background-color: #f2f3f6;
    }
  }
}
</style>
