<template>
  <AppHead title="注册" showBack />
  <view class="form_box">
    <input
      v-model="registerFrom.username"
      @focus="placeholderDD = ''"
      @blur="placeholderDD = 'DD号'"
      style="caret-color: #a0d3de"
      class="input"
      type="text"
      placeholder-style="color:#b0b0bd"
      :placeholder="placeholderDD"
    />
    <input
      v-model="registerFrom.password"
      @focus="placeholderPWD = ''"
      @blur="placeholderPWD = 'DD号密码'"
      style="caret-color: #a0d3de; margin: 10px 0"
      class="input"
      placeholder-style="color:#b0b0bd"
      type="text"
      :placeholder="placeholderPWD"
    />
    <van-button
      block
      type="primary"
      text="注册DD"
      @click="register"
    ></van-button>
  </view>
</template>

<script lang="ts" setup>
import AppHead from "@/components/AppHead/AppHead.vue";
import { ref, reactive } from "vue";
import { registerApi } from "@/api/user/user";
let placeholderDD = ref<string>("DD号");
let placeholderPWD = ref<string>("DD号密码");
interface RegisterFrom {
  username: string;
  password: string;
}
const registerFrom = reactive<RegisterFrom>({
  username: "000000",
  password: "000000",
});
async function register() {
  const res = await registerApi(registerFrom);
  if (res.message) {
    uni.navigateTo({
      url: "/pages/login/login",
    });
  }
}
</script>

<style lang="scss" scoped>
.form_box {
  width: 250px;
  margin: 40px auto;
  .input {
    height: 45px;
    border-radius: 22.5px;
    box-sizing: border-box;
    padding: 0 50px;
    text-align: center;
    background-color: #f2f3f6;
  }
}
</style>
