<template>
  <div class="box">
    <van-tabbar
      v-model="userStore.active"
      @change="goTabber"
      safe-area-inset-bottom
    >
      <van-tabbar-item v-for="i in list" :icon="i.icon" :name="i.name">{{
        i.title
      }}</van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script setup lang="ts">
import { useUserStore } from "@/stores/modules/user";
const userStore = useUserStore();
const list = [
  {
    name: "/pages/message/message",
    icon: "comment-o",
    title: "消息",
  },
  {
    name: "/pages/friends/friends",
    icon: "friends-o",
    title: "好友",
  },
];

function goTabber(i: string) {
  uni.switchTab({
    url: i,
  });
}
</script>

<style scoped lang="scss">
.box {
  padding-bottom: var(--van-tabbar-height);
}
</style>
