<template>
  <AppHead />
  <div class="addFriend-wrap">添加好友页面</div>
</template>

<script setup lang="ts">
import AppHead from "@/components/AppHead/AppHead.vue";
import { addFriendApi } from "@/api/friend/friend";
async function addFriend() {
  // await addFriendApi({ friendId: props.id });
}
</script>

<style scoped lang="scss">
.addFriend-wrap {
}
</style>
