<template>
  <div class="background"></div>
  <AppHead :title="user.nickname" showBack backgroundColor="transparent" />
  <div class="detail">
    <div class="img_box">
      <image
        @click="goEditImg"
        :src="user?.imgUrl"
        style="width: 100%; height: 100%; border-radius: 15px"
      />
    </div>
    <div class="nickname">{{ user?.nickname }}</div>
    <div class="username">DD账号:{{ user?.username }}</div>
    <div class="explain">{{ user?.explain }}</div>
  </div>

  <div class="action">
    <div v-if="isMine" class="mine">
      <van-row justify="space-between" gutter="10">
        <van-col span="12">
          <van-button block type="danger" @click="logout">退出登录</van-button>
        </van-col>
        <van-col span="12">
          <van-button block type="default" @click="goEditUser" :plain="true"
            >编辑资料</van-button
          >
        </van-col>
      </van-row>
    </div>
    <div v-else>
      <van-button
        block
        v-if="!user.state"
        type="default"
        @click="goAddFriend"
        text="加好友"
      />
      <van-button
        block
        type="primary"
        text="申请中"
        v-else-if="user.state === 1"
      />
      <van-button
        block
        type="warning"
        @click="pass"
        text="通过验证"
        v-else-if="user.state === 2"
      />
      <van-button
        block
        type="success"
        @click="goMessageHome"
        text="发消息"
        v-else-if="user.state === 3"
      />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useUserStore } from "@/stores/modules/user";
import { addFriendApi, passFriendApi } from "@/api/friend/friend";
import { User } from "@/api/user/user.model";
import AppHead from "@/components/AppHead/AppHead.vue";

const props = defineProps<{ id: string; isMine?: string }>();
const { id } = props;
const userStore = useUserStore();
userStore.getFriendInfo(Number(id));
const user = computed(() => {
  const { user, friend } = userStore;
  return (props.isMine ? user : friend) as User;
});
const bgcUrl = computed(() => {
  return `url(${unref(user)?.imgUrl})`;
});

async function goAddFriend() {
  await addFriendApi({ friendId: Number(id) });
}

async function pass() {
  await passFriendApi({ friendId: Number(id) });
}

function logout() {
  uni.reLaunch({
    url: "/pages/login/login",
  });
  userStore.logout();
}

function goEditUser() {
  uni.navigateTo({
    url: "/pages/user/editUser",
  });
}

function goMessageHome() {
  uni.navigateTo({
    url: `/pages/message/home?id=${id}`,
  });
}

function goEditImg() {
  uni.navigateTo({
    url: `/pages/user/editUserImg?src=${unref(user).imgUrl}`,
  });
}
</script>

<style lang="scss" scoped>
.background {
  position: absolute;
  left: 0;
  top: 0;
  background-image: v-bind(bgcUrl);
  background-size: auto 100%;
  filter: blur(30px);
  background-position: center center;
  width: 100vw;
  height: 100vh;
}
.detail {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .img_box {
    width: 160px;
    height: 160px;
    margin: 40px auto;
  }
  .nickname {
    font-size: 26px;
    color: #272832;
  }
  .username {
    font-size: 14px;
    color: #272832;
    margin: 10px 0;
  }
  .explain {
    font-family: PingFangSC-Light;
    font-size: 7px;
    color: #272832;
    letter-spacing: -0.48px;
    line-height: 12px;
  }
}
.action {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: flex;
  width: 100%;
  & > div {
    flex: 1;
  }
}
</style>
