<template>
  <div class="home-wrap">
    <AppHead :title="friend.nickname" showBack />
    <div id="messageList">
      <van-pull-refresh v-model="loading" @refresh="onRefresh">
        <MessageBox
          v-for="message in messages"
          :id="message.id"
          :key="message.id"
          :user="friend"
          :message="message"
        />
      </van-pull-refresh>
    </div>

    <div class="total" v-if="showTotal" @click="scrollToBottom">
      {{ totalList.length }}
    </div>

    <TypingControl :friendId="id" />
  </div>
</template>

<script setup lang="ts">
import { nextTick } from "vue";
import { Socket } from "socket.io-client";
import AppHead from "@/components/AppHead/AppHead.vue";
import { ID, User } from "@/api/user/user.model";
import { useUserStore } from "@/stores/modules/user";
import { getMessageListApi } from "@/api/message/message";
import TypingControl from "@/components/TypingControl/TypingControl.vue";
import {
  getMessageListRes,
  getMessageRes,
  Message,
} from "@/api/message/message.model";
import MessageBox from "./components/MessageBox.vue";
interface Props {
  id: ID;
}
const props = defineProps<Props>();
const userStore = useUserStore();

const socket = inject("socket") as Socket;

onBeforeMount(async () => {
  await userStore.getFriendInfo(props.id);
});

const friend = userStore.friend as User;

// 滚动到指定消息方法
async function scrollToMessage(messageId: string) {
  const message = document.getElementById(messageId);
  if (message) message.scrollIntoView({ behavior: "smooth" });
}

// 滚动到底部方法
async function scrollToBottom() {
  await messages.value.push(...totalList.value);
  totalList.value = [];
  const messageList = document.getElementById("messageList") as HTMLDivElement;
  const { scrollHeight } = messageList;
  messageList.scrollTop = scrollHeight;
  showTotal.value = false;
}

const loading = ref<boolean>(false);
const skip = ref<number>(0);
const take = ref<number>(15);
const messages = ref<Message[]>([]);
// 进入页面获取消息列表
getMessageListApi({
  friendId: props.id,
  skip: unref(skip),
  take: unref(take),
}).then(async (res) => {
  messages.value = res.items;
  nextTick(scrollToBottom);
});
async function onRefresh() {
  skip.value += unref(take);
  const { items } = await getMessageListApi({
    friendId: props.id,
    skip: unref(skip),
    take: unref(take),
  });
  messages.value.unshift(...items);
  loading.value = false;
}

const showTotal = ref<boolean>(false);
const totalList = ref<Message[]>([]);
// 监听消息有新消息就更新消息列表
socket.on("message", ({ message }: getMessageRes) => {
  totalList.value.push(message);
  const messageList = document.getElementById("messageList") as HTMLDivElement;
  const { scrollHeight, scrollTop, clientHeight } = messageList;
  // 如果距离底部小于5就滚动到底部
  if (
    scrollHeight - scrollTop - clientHeight < 5 ||
    message.userId === userStore.user.id
  )
    nextTick(scrollToBottom);
  else {
    showTotal.value = true;
  }
});
</script>

<style scoped lang="scss">
#messageList {
  position: absolute;
  top: calc(46px + var(--status-bar-height));
  bottom: 49px;
  left: 0;
  right: 0;
  overflow: scroll;
}
.total {
  position: fixed;
  right: 30px;
  bottom: 60px;
  background-color: #7cd2f4;
  color: #fff;
  font-size: 12px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
</style>
