<template>
  <AppHead title="消息" showUser />
  <van-list>
    <Search />
    <div v-for="(item, index) in messageList" :key="index">
      <MessageCard :card="item" @tap="goMessageHome" />
    </div>
  </van-list>
  <Tabber />
</template>

<script lang="ts" setup>
import { Socket } from "socket.io-client";
import { ref } from "vue";
import AppHead from "@/components/AppHead/AppHead.vue";
import Tabber from "@/components/Tabber/Tabber.vue";
import Search from "@/components/Search/Search.vue";
import MessageCard from "@/components/MessageCard/MessageCard.vue";
import { useUserStore } from "@/stores/modules/user";
const userStore = useUserStore();
uni.hideTabBar();

let messageList = ref([
  // {
  //   src: "http://ent.people.com.cn/NMediaFile/2023/0128/MAIN202301280908219334577278922.jpg",
  //   name: "雅雅1",
  //   latestNews:
  //     "雅雅撒地方是来看萨摩；都看见；i我金额可能困啊看就是你的卡拉胶纳斯达克接你们看见你",
  //   time: "2022-10-24",
  // },
]);

function goMessageHome() {
  uni.navigateTo({
    url: "/pages/message/home",
  });
}
</script>
