<template>
  <view class="box"> </view>
  <view class="search_box">
    <input
      focus
      class="search_input"
      v-model="keyword"
      @input="searchFriends"
      placeholder="搜索"
    />
    <view class="close" @click="close"> 取消 </view>
  </view>
  <view class="user_list">
    <UserCard
      v-for="item in userList"
      :item="item"
      :key="item.id"
      :keyword="keyword"
      @refreshFriends="searchFriends"
    />
  </view>
</template>

<script lang="ts" setup>
import { ref, unref } from "vue-demi";
import { getFriendListApi } from "@/api/user/user";
import { User } from "@/api/user/user.model";
import UserCard from "./components/UserCard.vue";
import { Friend } from "@/api/user/user.model";

function close() {
  uni.switchTab({
    url: "/pages/message/message",
  });
}

const keyword = ref<string>("");
const userList = ref<User[]>([]);

async function searchFriends() {
  const { items = [] } = await getFriendListApi({
    keyword: unref(keyword),
    page: 1,
    pageSize: 20,
  });
  if (!unref(keyword)) return (userList.value = []);
  userList.value = items;
}
</script>

<style lang="scss" scoped>
.box {
  height: var(--status-bar-height);
  background: linear-gradient(to right, #5fd7fa, #45a6f7);
}
.search_box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  padding: 0 10px;
  .search_input {
    flex: 1;
    background: #f3f4f6;
    border-radius: 3px;
    height: 40px;
    padding: 3px 5px;
    box-sizing: border-box;
  }
  .close {
    width: 40px;
    font-size: 14px;
    color: #272832;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    color: #4973c5;
  }
}
</style>
