<template>
  <AppHead title="好友" />
  <van-list>
    <Search />
    <div v-for="item in friends" :key="item.id" @click="goHome(item.friendId)">
      <FriendCard :user="item.friend" />
    </div>
  </van-list>

  <Tabber />
</template>

<script lang="ts" setup>
import AppHead from "../../components/AppHead/AppHead.vue";
import FriendCard from "./components/FriendCard.vue";
import Search from "@/components/Search/Search.vue";
import { getFriends } from "@/api/friend/friend";
import { Friends } from "@/api/friend/friend.model";
import { onShow } from "@dcloudio/uni-app";
import Tabber from "@/components/Tabber/Tabber.vue";
uni.hideTabBar();

const friends = ref<Friends[]>([]);

async function getList() {
  const { items } = await getFriends();
  friends.value = items;
}
onShow(getList);

function goHome(id: number) {
  uni.navigateTo({
    url: `/pages/message/homePage?id=${id}`,
  });
}
</script>

<style lang="scss" scoped></style>
