<template>
  <div class="TypingControl-wrap" @keyup.enter="send">
    <div class="control" id="message_input">
      <div class="img_box">
        <image
          src="../../../static/images/sound.png"
          style="width: 100%; height: 100%"
        ></image>
      </div>
      <div :contentEditable="true" @input="input" class="input">
        {{ message }}
      </div>
      <div class="img_box">
        <image
          src="../../../static/images/face.png"
          style="width: 100%; height: 100%"
        ></image>
      </div>
      <div class="img_box" v-if="!message.length">
        <image
          @click="showPanel = !showPanel"
          src="../../../static/images/add.png"
          style="width: 100%; height: 100%"
        ></image>
      </div>
      <van-button
        v-else
        type="primary"
        style="width: 55px; height: 22px; margin-right: 10px"
        @click="send"
        >发送</van-button
      >
    </div>
    <div class="panel" v-if="showPanel">面板</div>
  </div>
  <div class="box"></div>
</template>

<script setup lang="ts">
import { ID, User } from "@/api/user/user.model";
import { addTextMessageApi } from "@/api/message/message";
import { useUserStore } from "@/stores/modules/user";
import { Socket } from "socket.io-client";

const { user } = useUserStore();
interface Props {
  friendId: ID;
}

const { friendId } = defineProps<Props>();

const socket = inject("socket") as Socket;

const showPanel = ref<boolean>(false);

const message = ref<string>("");
async function send() {
  console.log("addMessage");
  socket.emit("addMessage", {
    friendId,
    userId: (user as User).id,
    message: unref(message),
  });
  message.value = "";
}

function input(v: any) {
  message.value = v.srcElement.innerText;
}
</script>

<style scoped lang="scss">
.box {
  height: 49px;
  margin-top: 10px;
}
.TypingControl-wrap {
  width: 100%;
  max-width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  .control {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    width: 100%;
    background-color: #f4f4f4;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    .img_box {
      width: 28px;
      height: 28px;
      padding: 2px;
      margin: 5px;
    }
    .input {
      flex: 1;
      outline: none;
      font-size: 16px;
      line-height: 22px;
      min-height: 32px;
      display: flex;
      align-items: center;
      max-height: 80px;
      word-break: break-all;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      -webkit-tap-highlight-color: transparent;
      user-select: text;
      padding: 0 10px;
      background: #ffffff;
      border-radius: 5px;
    }
  }
}
</style>
