<template>
  <view class="MessageCard-wrap">
    <div class="left">
      <van-image round width="100%" height="100%" :src="card.src" />
    </div>
    <div class="center">
      <div class="name">{{ card.name }}</div>
      <div class="latestNews">{{ card.latestNews }}</div>
    </div>
    <div class="right">
      <div class="time">2023-12-23</div>
      <div class="num">
        <span class="box"> 1 </span>
      </div>
    </div>
  </view>
</template>

<script setup lang="ts">
import { toRefs } from "vue";
const props = defineProps({
  card: {
    type: Object,
    default: () => {},
  },
});
const { card } = toRefs(props);
</script>

<style scoped lang="scss">
.MessageCard-wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  .left {
    width: 40px;
    height: 40px;
  }
  .center {
    flex: 1;
    max-width: 225px;
    .name {
      font-size: 18px;
      color: #272832;
    }
    .latestNews {
      font-size: 14px;
      color: rgba(39, 40, 50, 0.6);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .right {
    display: flex;
    flex-flow: column;
    justify-content: center;

    .time {
      width: auto;
      text-align: right;
      font-size: 12px;
      color: rgba(39, 40, 50, 0.4);
    }
    .num {
      text-align: right;
      .box {
        padding: 0 5px;
        background: #ff5d5b;
        font-size: 12px;
        color: #fff;
        border-radius: 10px;
      }
    }
  }
}
</style>
