<template>
  <AppHead showBack :title="title">
    <template #right>
      <div
        class="right_button"
        @tap="userStore.submitUser({ [pay]: unref(keyWord) })"
      >
        完成
      </div>
    </template>
  </AppHead>
  <TextPage v-model="keyWord" :isTextArea="textArea" />
</template>

<script setup lang="ts">
import { toRef, unref } from "vue";
import AppHead from "@/components/AppHead/AppHead.vue";
import TextPage from "@/components/FormPage/TextPage.vue";
import { useUserStore } from "@/stores/modules/user";
const userStore = useUserStore();
interface Props {
  title: string;
  pay: string;
  word: string;
  isTextArea: string;
}
const props = defineProps<Props>();
const { title, pay } = props;
const keyWord = toRef(props, "word");
const textArea = props.isTextArea === "true";
</script>

<style scoped lang="scss">
.right_button {
  color: #fff;
}
</style>
