<template>
  <AppHead title="111" />
  <div class="img_box">
    <!-- <van-upload
      :fileList="fileList"
      @afterRead="afterRead"
      @delete="deletePic"
      previewFullImage
      :maxCount="1"
      width="400"
      height="400"
    >
      <image
        :src="src"
        mode="widthFix"
        style="width: 200px; height: 200px; border-radius: 15px"
      ></image>
    </van-upload> -->
  </div>
</template>

<script setup lang="ts">
import AppHead from "@/components/AppHead/AppHead.vue";
import { getCosToken } from "@/api/sts/sts";
interface Props {
  src: string;
}
const props = defineProps<Props>();

const fileList = reactive([]);
async function afterRead(event: any) {
  console.log(event.file);
  await getCosToken();
}
function deletePic() {}
</script>

<style scoped lang="scss">
.img_box {
  width: 200px;
  height: 200px;
  margin: 50px auto;
}
</style>
