<template>
  <AppHead title="编辑资料" showBack />
  <div style="padding: 20px 0">
    <van-config-provider :theme-vars="themeVars">
      <van-cell-group inset>
        <van-cell size="large" title="头像" is-link @click="goEditImg">
          <template #right-icon>
            <van-image width="80" height="80" :src="user.imgUrl" />
          </template>
        </van-cell>
        <van-cell
          size="large"
          title="昵称"
          :value="user.nickname"
          is-link
          @click="goEditCell(pageMap.nickname)"
        />
        <van-cell
          size="large"
          title="个性签名"
          :value="user.explain"
          is-link
          @click="goEditCell(pageMap.explain)"
        />
        <van-cell
          size="large"
          title="邮箱"
          :value="user.email"
          is-link
          @click="goEditCell(pageMap.email)"
        />
        <van-cell
          size="large"
          title="手机号"
          :value="user.phone"
          is-link
          @click="goEditCell(pageMap.phone)"
        />
        <van-cell size="large" title="创建时间" :value="user.createdAt" />
        <van-field
          v-model="Gender[user.gender]"
          is-link
          readonly
          name="picker"
          label="性别"
          placeholder="点击选择性别"
          @click="showPicker = true"
        />

        <van-popup v-model:show="showPicker" position="bottom">
          <van-picker
            :columns="columns"
            @cancel="showPicker = false"
            @confirm="onConfirm"
          />
        </van-popup>
      </van-cell-group>
    </van-config-provider>
  </div>
</template>

<script setup lang="ts">
import AppHead from "@/components/AppHead/AppHead.vue";
import { useUserStore } from "@/stores/modules/user";
import { User } from "@/api/user/user.model";
import { ConfigProviderThemeVars } from "vant";
import { Gender } from "@/api/user/user.model";
const userStore = useUserStore();
const user = userStore.user as User;

const themeVars: ConfigProviderThemeVars = {
  cellBackground: "#ADD8E6",
};

interface PageMap {
  [propName: string]: string;
}

function getUrl(title: string, pay: keyof User, isTextArea?: boolean): string {
  return `/pages/user/EditCellPage?title=${title}&pay=${pay}&word=${
    user[pay] || ""
  }&isTextArea=${isTextArea}`;
}

const pageMap: PageMap = {
  nickname: getUrl("修改用户昵称", "nickname"),
  phone: getUrl("修改用户手机号", "phone"),
  email: getUrl("修改用户邮箱", "email"),
  explain: getUrl("修改用户个性签名", "explain", true),
};

const show = ref<boolean>(false);

const columns = [
  [
    {
      text: "女",
      value: 0,
    },
    {
      text: "男",
      value: 1,
    },
    {
      text: "未知",
      value: 2,
    },
  ],
];

function goEditImg() {
  console.log("修改头像");
}

const showPicker = ref<boolean>(false);
function goEditCell(url: string) {
  uni.navigateTo({
    url,
  });
}

function onConfirm({ selectedValues }: any) {
  userStore.submitUser({ gender: selectedValues[0] });
}
</script>

<style scoped lang="scss"></style>
