<template>
  <div style="padding: 20px 0">
    <van-config-provider :theme-vars="themeVars">
      <van-cell-group inset>
        <van-field
          autosize
          v-model="innerValue"
          clearable
          type="textarea"
          maxlength="50"
          show-word-limit
          placeholder="请输入内容"
        />
      </van-cell-group>
    </van-config-provider>
  </div>
</template>

<script setup lang="ts">
import { ConfigProviderThemeVars } from "vant";
import { computed } from "@vue/reactivity";
interface Props {
  modelValue: string;
  isTextArea: boolean;
}

const themeVars: ConfigProviderThemeVars = {
  cellBackground: "#ADD8E6",
};

const props = defineProps<Props>();
const emit = defineEmits(["update:modelValue"]);
const innerValue = computed({
  get() {
    return props.modelValue;
  },
  set(v) {
    emit("update:modelValue", v);
  },
});
</script>

<style scoped lang="scss"></style>
