<template>
  <div class="MessageBox-wrap">
    <div class="avatar left" v-if="message.userId === user.id">
      <div class="img_box">
        <van-image round width="100%" height="100%" :src="user.imgUrl" />
      </div>
      <div class="message_bubble">{{ message.message }}</div>
    </div>
    <div class="avatar right" v-else>
      <div class="message_bubble">{{ message.message }}</div>
      <div class="img_box">
        <van-image round width="100%" height="100%" :src="user.imgUrl" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { User } from "@/api/user/user.model";
import { Message } from "@/api/message/message.model";

interface Props {
  user: User;
  message: Message;
}

const props = defineProps<Props>();
const { user, message } = toRefs(props);
</script>

<style scoped lang="scss">
.img_box {
  width: 40px;
  height: 40px;
}
.MessageBox-wrap {
  padding: 15px;
  .avatar {
  }
  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .message_bubble {
      background-color: $uni-color-warning;
    }
  }
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .message_bubble {
      background-color: $uni-color-primary-deep;
    }
  }
}
.message_bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  line-height: 26px;
  color: #fff;
  margin: 0 10px;
  max-width: 340px;
  font-size: 16px;
  word-break: break-all;
  word-wrap: break-word;
}
</style>
