<template>
  <div class="UserCard-wrap" @click.stop="goHome">
    <div class="user">
      <div class="img">
        <van-image
          round
          :src="item.imgUrl"
          width="100%"
          height="100%"
        ></van-image>
      </div>
      <div class="name_box">
        <div class="name">
          <span v-html="nickHtml"></span>
        </div>
        <div class="id">(<span v-html="userHtml"></span>)</div>
      </div>
    </div>
    <div class="button info" v-if="!item.state" @click.stop="addFriend">
      加好友
    </div>
    <div class="button primary" v-else-if="item.state === 1">申请中</div>
    <div
      class="button warning"
      v-else-if="item.state === 2"
      @click.stop="goPass"
    >
      通过验证
    </div>
    <div
      class="button success"
      v-else-if="item.state === 3"
      @click.stop="goMessageHome"
    >
      发消息
    </div>
  </div>
</template>

<script setup lang="ts">
import { User } from "@/api/user/user.model";
import { toRefs, unref, computed } from "vue-demi";
import { getUserApi } from "@/api/user/user";
import { getStateApi, addFriendApi, passFriendApi } from "@/api/friend/friend";
import { useUserStore } from "@/stores/modules/user";
const emits = defineEmits(["refreshFriends"]);

interface Props {
  item: User;
  keyword: string;
}
const props = defineProps<Props>();
const {
  item: { id },
} = props;
const { item, keyword } = toRefs(props);
const { nickname, username } = unref(item);
const userStore = useUserStore();

function getHtml(keyword: string, text: string) {
  const reg = new RegExp(unref(keyword), "ig");
  const index = text.search(reg);
  const len = unref(keyword).length;
  const word = text.substring(index, index + len);
  return text.replace(
    new RegExp(keyword, "i"),
    `<span style="color: #539df8;">
          ${word}
        </span>`
  );
}

const nickHtml = computed<string>(() => {
  return getHtml(unref(keyword), nickname);
});
const userHtml = computed<string>(() => {
  return getHtml(unref(keyword), username);
});

async function goHome() {
  uni.navigateTo({
    url: `/pages/message/homePage?id=${unref(item).id}`,
  });
}
const user = ref<User>();
async function getUser() {
  user.value = await getUserApi(id);
  userStore.friend = user.value;
  console.log(user.value);
  const { state = 0 } = (await getStateApi({ friendId: id })) || {};
}

async function pass() {
  await passFriendApi({ friendId: id });
  await getUser();
}

async function goAddFriend() {
  await addFriendApi({ friendId: id });
  await getUser();
}

async function addFriend() {
  await goAddFriend();
  emits("refreshFriends");
}

async function goPass() {
  await pass();
  emits("refreshFriends");
}

async function goMessageHome() {
  await userStore.getFriendInfo(id);
  uni.navigateTo({
    url: `/pages/message/home?id=${id}`,
  });
}
</script>

<style scoped lang="scss">
.button {
  width: 60px;
  height: 28px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #fff;
}
.info {
  background-color: $uni-color-primary;
}
.success {
  background-color: #59c724;
}
.warning {
  background-color: #f9ae3c;
}
.primary {
  background-color: #3b9cff;
}
.UserCard-wrap {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .user {
    display: flex;
    .img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 5px;
    }
    .name_box {
      display: flex;
      align-items: center;
      font-size: 18px;
      .id {
        color: #9b9b9b;
      }
    }
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
      font-size: 13px;
      color: #fff;
      padding: 3px 8px;
      border-radius: 13px;
    }
  }
}
</style>
