<template>
  <van-config-provider :theme-vars="themeVars">
    <van-nav-bar
      v-bind="attrs"
      :title="props.title"
      fixed
      @click-left="back"
      :border="false"
    >
      <template v-if="props.showUser" #left>
        <AvatarCard></AvatarCard>
      </template>
      <template #right>
        <slot name="right" />
      </template>
    </van-nav-bar>
  </van-config-provider>
  <div class="box"></div>
</template>

<script lang="ts" setup>
import AvatarCard from "../AvatarCard/AvatarCard.vue";
import { ConfigProviderThemeVars, showFailToast } from "vant";

interface Props {
  showBack?: boolean;
  showUser?: boolean;
  backgroundColor?: string;
  title: string;
}
const props = defineProps<Props>();
const themeVars: ConfigProviderThemeVars = {
  navBarBackground: props.backgroundColor || "#5ed4f8",
  navBarIconColor: "#fff",
  navBarTitleTextColor: "#fff",
  navBarTextColor: "#fff",
};
const { navBarBackground } = themeVars;
const attrs = computed(() => {
  return props.showBack
    ? { ...useAttrs(), leftText: "返回", leftArrow: true }
    : useAttrs();
});
const tabBar = ["/pages/message/message", "/pages/friends/friends"];

function back() {
  // history.back()在app端用不了
  const routes = getCurrentPages();
  if (routes.length >= 2) {
    let BeforeRoute = routes[routes.length - 1].route as string;
    if (tabBar.includes(BeforeRoute)) {
      uni.switchTab({
        url: `/${BeforeRoute}`,
      });
    } else {
      uni.navigateBack({
        delta: 1,
      });
    }
  } else {
    showFailToast("无可返回页面");
  }
}
</script>

<style lang="scss" scoped>
.box {
  box-sizing: content-box;
  padding-top: var(--status-bar-height);
  height: 46px;
}
:deep(.van-nav-bar) {
  padding-top: var(--status-bar-height);
}
</style>
