<template>
  <view class="search">
    <view class="search_box" @click="goSearch">
      <view>
        <van-icon name="search" color="#9a9a9a" size="22"></van-icon>
      </view>
      <view> 搜索 </view>
    </view>
  </view>
</template>

<script setup lang="ts">
function goSearch() {
  uni.navigateTo({
    url: "/pages/message/search",
  });
}
</script>

<style scoped lang="scss">
.search {
  padding: 10px 15px;
  .search_box {
    height: 35px;
    background-color: #f6f6f6;
    border-radius: 6px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: #9a9a9a;
  }
}
</style>
