<script setup lang="ts">
import { onLaunch, onShow, onHide } from "@dcloudio/uni-app";
import { useUserStore } from "./stores/modules/user";
import { Socket } from "socket.io-client";
const socket = inject("socket") as Socket;
const userStore = useUserStore();
onLaunch(() => {
  uni.hideTabBar();
});
onShow(async () => {
  uni.hideTabBar();
  socket.connect(); //连接socket服务器
  console.log("ci测试");
  socket.emit("connection", userStore.user.id);
  socket.on("kickOffed", (res) => {
    uni.showToast({
      title: "您已被挤下线",
      icon: "error",
    });
    uni.reLaunch({
      url: "/pages/login/login",
    });
    userStore.logout();
  });
});
onHide(() => {
  console.log("App Hide");
});
onMounted(() => {});
</script>
<style lang="scss"></style>
