/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

*{
  margin: 0;
  padding: 0;
}

/* 颜色变量 */
/* 行为相关颜色 */
$uni-color-primary: #5ed4f8;
$uni-color-primary-deep: #4aa5f8;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color: #333; // 基本色
$uni-text-color-inverse: #fff; // 反色
$uni-text-color-grey: #999; // 辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable: #c0c0c0;

/* 背景颜色 */
$uni-bg-color: #fff;
$uni-bg-color-grey: #f8f8f8;
$uni-bg-color-hover: #f1f1f1; // 点击状态颜色
$uni-bg-color-mask: rgba(0, 0, 0, 0.4); // 遮罩颜色

/* 边框颜色 */
$uni-border-color: #c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm: 6px;
$uni-font-size-base: 7px;
$uni-font-size-lg: 8px;

/* 图片尺寸 */
$uni-img-size-sm: 10px;
$uni-img-size-base: 13px;
$uni-img-size-lg: 20px;

/* Border Radius */
$uni-border-radius-sm: 1px;
$uni-border-radius-base: 2px;
$uni-border-radius-lg: 3px;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 3px;
$uni-spacing-row-base: 05x;
$uni-spacing-row-lg: 8px;

/* 垂直间距 */
$uni-spacing-col-sm: 2px;
$uni-spacing-col-base: 3px;
$uni-spacing-col-lg: 6px;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2c405a; // 文章标题颜色
$uni-font-size-title: 10px;
$uni-color-subtitle: #555; // 二级标题颜色
$uni-font-size-subtitle: 9px;
$uni-color-paragraph: #3f536e; // 文章段落颜色
$uni-font-size-paragraph: 7px;

view,div,span,body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}