<template>
  <div class="CellBody-wrap">
    <van-row>
      <van-col span="4" class="label_box">{{ label }}</van-col>
      <van-col span="7" class="value_box">{{ value }}</van-col>
    </van-row>
  </div>
</template>

<script setup lang="ts">
import { toRefs } from "vue";
import { None } from "@/type";
interface Props {
  label: string | None;
  value: string | None;
}
const props = defineProps<Props>();
const { label, value } = toRefs(props);
</script>

<style scoped lang="scss">
.CellBody-wrap {
  .label_box {
    color: #030303;
  }
  .value_box {
    color: #969696;
  }
}
</style>
